{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

    {% block panel %}
        {% include "base_views/components/panel.html" %}
    {% endblock panel %}

    <!-- Add form -->
    <div class="grid-box grid-padding create-view">
        <form method="post">
            <div class="create-view-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="create-view-form-item">
                        {% if 'id_hexadecimal' in field.label_tag %}
                            {{ field.label_tag }}
                            <input type="color" name="hexadecimal" maxlength="7" required="" id="id_hexadecimal">
                            <div class="create-view-form-error">
                                {{ field.errors }}
                            </div>
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="create-view-form-error">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="create-view-buttons">
                <input class="button blue-button click-animation" type="submit" name="save_one" value='{% translate "Save and create new one" %}'>
                <input class="button yellow-button click-animation" type="submit" name="save_two" value='{% translate "Save and stay" %}'>
                <input class="button green-button click-animation" type="submit" name="save_three" value='{% translate "Save" %}'>
            </div>
            <p>
                {{ form.subject.errors }}
                {{ form.subject.label_tag }}
                {{ form.subject }}
            </p>
        </form>
    </div>

{% endblock %}