{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load auto_tags %}

{% block content %}

    {% block panel %}
        {% include "base_views/components/panel.html" %}
    {% endblock panel %}

    <!-- Search panel -->
    {% if filter %}
        <form method="GET">
            {% for field in filter.form %}

                {% if field.html_name == 'name__contains' %}
                    <div class="grid-box" id="content-search">
                        {{ field }}
                        <button class="click-animation" type="submit">
                            <img src="{% static 'ico/main/search.svg' %}" alt="Search">
                        </button>
                        <div class="click-animation" id="content-filter-button" >
                            <img src="{% static 'ico/main/filter.svg' %}" alt="Filter">
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
                
            <div id="content-filter" class="grid-box grid-padding gird-filter collapse">
                {% for field in filter.form %}
                    {% if field.html_name != 'name__contains' %}
                        {{ field.label_tag }} {{ field }}
                    {% endif %}
                {% endfor %}
            </div>
            
        </form>
    {% endif %}

    {% if no_search_result %}
        <div class="no-object-to-display">
            <div>
                <img src="{% static 'ico/main/hidden.svg' %}" alt="No output">
                </br></br>
                <p>{% translate "There is nothing to display :(" %}</p>
            </div>
        </div>
    {% else %}

        {% if display_version == 1 %}
            <!-- Grid container for models -->
            <div id="content-grid">
                
                {% for object in object_list %}
                    <!-- Single model item -->
                    <div class="model-item">
                        <div class="grid-padding">
                            <div class="model-item-status">
                                <!-- Box activity -->
                                <div class="ball-box">
                                    {% if object.active is True or object.active is False %}
                                        <!-- Active status -->
                                        {% if object.active is True %}
                                            <div class="ball ball-active" aria-label="Active"></div>
                                        {% else %}
                                            <div class="ball ball-inactive" aria-label="Active"></div>
                                        {% endif %}
                                    {% endif %}
                                    {% if object.ssh_status is True or object.ssh_status is False %}
                                        <!-- SSH status -->
                                        {% if object.ssh_status is True %}
                                            <div class="ball ball-active" aria-label="SSH status"></div>
                                        {% else %}
                                            <div class="ball ball-inactive" aria-label="SSH status"></div>
                                        {% endif %}
                                    {% endif %}
                                    {% if object.https_status is True or object.https_status is False %}
                                        <!-- HTTPS status -->
                                        {% if object.https_status is True %}
                                            <div class="ball ball-active" aria-label="HTTPS status"></div>
                                        {% else %}
                                            <div class="ball ball-inactive" aria-label="HTTPS status"></div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div>
                                    <input class="check-item collapse" type="checkbox">
                                </div>
                            </div>

                            <!-- Single model item header -->
                            <div class="model-item-header">
                                {% if object.ico or object.ico == 0 %}
                                    <img class="box-header-svg" src="/{{ object.get_ico_display }}" alt="switch">
                                {% endif %}
                                <div>
                                    <h3><a href="{% url 'device-detail' pk=object.pk %}">{{ object.name|title }}</a></h3>
                                    <q>{% verbose_name object 'created' %}: {{ object.created }}</q></br>
                                    <q>{% verbose_name object 'updated' %}: {{ object.updated }}</q></br>
                                </div>
                            </div>

                            <!-- Single model item body -->
                            <div class="model-item-body">
                                {% if list_view %}
                                    <table>
                                        {% for row in list_view %}
                                            <tr>
                                                <th>{% verbose_name object row %}:</th>
                                                <td>{% object_attribute_value object row %}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% elif display_version == 2 %}
            <!-- Table -->
            <div class="table grid-box">

                <table class="shadow table-hover table-blue">
                    <thead>
                        <tr>
                            <th scope="col">{% translate "Name" %}</th>
                            {% if list_view %}
                                {% for row in list_view %}
                                    <th>{{ row }}</th>
                                {% endfor %}
                            {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for object in object_list %}
                            <tr>
                                <th><a href="{% url 'device-detail' pk=object.pk %}">{{ object.name }}</a></th>
                                {% if list_view %}
                                    {% for row in list_view %}
                                        <td>{% object_attribute_value object row %}</td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        {% endif %}
    {% endif %}

    <!-- Pagination panel -->
    {% if page_obj %}
        <div id="content-paginator">
            <div class="grid-box">
                
                {% if page_obj.has_previous %}
                    <div class="paginator-section">
                        <a href="?page=1{{ query_string }}" label="{% translate 'First page' %}" class="action-button click-animation">
                            <img src="{% static 'ico/main/left-arrow1.svg' %}" alt="Ico">
                        </a>
                        <a href="?page={{ page_obj.previous_page_number }}{{ query_string }}" label="{% translate 'Precious page' %}" class="action-button click-animation">
                            <img src="{% static 'ico/main/left-arrow2.svg' %}" alt="Ico">
                        </a>
                    </div>
                {% else %}
                    <div class="paginator-section">
                        <a label="{% translate 'This is first page' %}" class="action-button click-animation">
                            <img src="{% static 'ico/main/left-arrow3.svg' %}" alt="Ico">
                        </a>
                    </div>
                {% endif %}

                <span class="current">
                    <p>{% translate 'Page' %} {{ page_obj.number }} {% translate 'of' %} {{ page_obj.paginator.num_pages }}</p>
                </span>

                {% if page_obj.has_next %}
                    <div class="paginator-section">
                        <a href="?page={{ page_obj.next_page_number }}{{ query_string }}" label="{% translate 'Next page' %}" class="action-button click-animation">
                            <img src="{% static 'ico/main/right-arrow2.svg' %}" alt="Ico">
                        </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}{{ query_string }}" label="{% translate 'Last page' %}" class="action-button click-animation">
                            <img src="{% static 'ico/main/right-arrow1.svg' %}" alt="Ico">
                        </a>
                    </div>
                {% else %}
                    <div class="paginator-section">
                        <a label="{% translate 'No more pages' %}" class="action-button click-animation">
                            <img src="{% static 'ico/main/right-arrow3.svg' %}" alt="Ico">
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}

{% endblock %}