 /*   -------------------------   */
/*   ----     MESSAGE     ----   */


    /*   -----   MESSAGE   -----   */
    .message {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        margin-left: var(--model_padding);
    }

    .message-ico {
        width: 50px;
        height: 50px;
    }

    .message-text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .message-text span {
        margin: 0px 40px 0px 20px;
    }

    .message-button  {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .message-close {
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
        

        /*   -----   MESSAGE ERROR, CRITICAL   -----   */
        .error {
            background: var(--color_light_red);
            border: var(--color_strong_red) solid 1px;
            color: var(--color_strong_red);
        }

        .error .message-close {
            fill: var(--color_strong_red);
        }


        /*   -----   MESSAGE INFORM   -----   */
        .inform {
            background: var(--color_light_green);
            border: var(--color_strong_green) solid 1px;
            color: var(--color_strong_green);
        }

        .inform .message-close {
            fill: var(--color_strong_green);
        }


        /*   -----   MESSAGE INFORM   -----   */
        .debug {
            background: var(--color_light_blue);
            border: var(--color_strong_blue) solid 1px;
            color: var(--color_strong_blue);
        }

        .debug .message-close {
            fill: var(--color_strong_blue);
        }


 /*   -------------------------   */
/*   ----      TOOLS      ----   */


    /*   -----   MODEL SEARCH   -----   */
    #content-search input {
        padding: var(--box_padding_half) 20px;
        color: var(--color_font_gray);
        font-size: 1.1em;
        border: none;
        width: 100%;
    }

    #content-search button {
        padding: var(--box_padding_full);
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        background: var(--color_gray_background);
    }

    #content-search button:hover {
        background: var(--color_strong_red);
    }

    #content-search div {
        padding: var(--box_padding_full);
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        background: var(--color_gray_background);
    }

    #content-search div:hover {
        background: var(--color_strong_red);
    }


    /*   -----   MODEL FILTER   -----   */
    #content-filter {
        justify-content: space-around;
    }

    #content-filter input {
        background: var(--color_gray_background);
        padding: var(--box_padding_half);
        border: none;
    }
    
    #content-filter select {
        background: var(--color_gray_background);
        padding: var(--box_padding_half);
        color: var(--color_font_gray);
        border: none;
    }

    #content-filter > div {
        display: flex;
        align-items: center;
    }

    #content-filter > div > label {
        margin-right: var(--box_padding_full);
    }


    /*   -----   PAGINATOR   -----   */
    #content-paginator > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px var(--box_padding_full);
    }

    .paginator-section img {
        height: 45px;
        width: 45px;
    }

